<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
  <p>status {{ location.status }}</p>
  <p>country {{ location.country }}</p>
  <p>countryCode {{ location.countryCode }}</p>
  <p>region {{ location.region }}</p>
  <p>regionName {{ location.regionName }}</p>
  <p>lat {{ location.lat }}</p>
  <p>lon {{ location.lon }}</p>
  <p>timezone {{ location.timezone }}</p>
  <p>query {{ location.query }}</p>
  </div>
</body>
</html>